<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start exams view</title>
 <!-- mathjax settings -->
 <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}});
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
 
</script>
    
       <!-- sweetify -->
       <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
      <!-- bootstrap link -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <style>
      .quest{
        /* width: auto; */
        /* white-space: normal;
        /* word-wrap: break-word; */
        
        /* overflow-wrap: scroll;  */
        /* display: flex;
        flex-wrap: wrap; */
        /* justify-content: center; */
        
      }
      /* .quest>*{
        flex: 1 1 auto;
        margin: 10px;
        overflow: hidden; */
        /* height: 100%; */
        /* position: fixed; */
       

      /* } */
/* .math-class{
  text-align: left !important;
  display: inline !important;
} */input[type=radio]{
  transform:scale(1.3);
 
}

</style>
      
</head>
<body>
    
<script type="text/javascript">
  
window.onload = function begin(){
document.getElementById('timer').innerHTML =
  5 + ":" + 00;
startTimer();
}

function startTimer() {
  var presentTime = document.getElementById('timer').innerHTML;
  var timeArray = presentTime.split(/[:]+/);
  var m = timeArray[0];
  var s = checkSecond((timeArray[1] - 1));
  if(s==59){m=m-1}
  if(m<0){
    document.getElementById('quiz').submit();
  }
  document.getElementById('timer').innerHTML =
    m + ":" + s;
  setTimeout(startTimer, 1000);
}

function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}
</script>
    
   <div class='float-right sticky-top'>
	<div class="row justify-content-left">
		<div class="col-mx-auto">
			<div class="alert alert-success" role="alert"><center>Time left : <span id="timer"></span></center></div>
		</div>
	</div>
</div>
 
    
  <br>
  <div class="container">

<form action="/calculate_marks" onsubmit="return saveAns()" enctype="multipart/form-data" id ='quiz' method="POST">
  {% csrf_token %}
  <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
    <h1>{{course}} Quiz</h1><br>
    <h4>Number of Questions in the Quiz: {{q_count}}</h4>
    <hr>
    <p>pages {{page_obj}}</p>
    <hr>
  {% for q in  page_obj %}
  
<!-- <h6 style="text-align: right;">[marks {{q.marks}}]</h6> -->
{% if q.img_quiz.url %}
<div  class="text-center" ><img src="{{q.img_quiz.url}}" width="100%" height="300px" alt=""> </div><br>
{% endif %}

<div style="border: 2px dotted green;" class="container shadow-lg mb-1 bg-white rounded">
<p class="d-flex" style="overflow-x: auto; white-space: pre-wrap; font-size: 20px;font-family: sans-serif;" >
{{ q.question }}</p>
{% if q.marks %} 
<h6 style="text-align: right;">[marks {{q.marks}}]</h6>
{% endif %}
</div>
{% if q.option1 %}
  <div  class="card-header shadow-lg mb-1 bg-white rounded">
  <input   type="radio" name="{{forloop.counter}}" id="{{q.option1}}"  value="Option1">
 <label for="option1"> {{q.option1}}</label><br>
</div>
{% endif %}

  {% if q.option2 %}
  <div class="card-header shadow-lg mb-1 bg-white rounded">
  <input   type="radio" name="{{forloop.counter}}" id="{{q.option2}}"  value="Option2">
  <label for="option2">{{q.option2}}</label><br>

</div>
{% endif %}

{% if q.option3 %}
<div class="card-header shadow-lg mb-1 bg-white rounded">
  <input  type="radio" name="{{forloop.counter}}" id="{{q.option3}}"  value="Option3">
  <label for="option3">{{q.option3}}</label><br> 
</div>
{% endif %}

{% if q.option4 %}
<div class="card-header shadow-lg mb-1 bg-white rounded">
  <input  type="radio" name="{{forloop.counter}}" id="{{q.option4}}"  value="Option4">
  <label  for="option4">{{q.option4}}</label><br>
</div>
{% endif %}
<br><br>
{% empty %}
<h1 class="card text-center text-danger">No Exam Available Yet. CHECK LATER</h1>
  {% endfor %}

  <input onclick="disp()" class="btn btn-primary" type="submit" value="Submit">
   

</form>
<br>
<!-- pagination codes start -->

{% if page_obj.has_other_pages %}
<div class="container">
<nav class="d-flex" aria-label="Page navigation example">

  <ul class="pagination pagination-sm flex-wrap justify-content-center">
    {% if page_obj.has_previous %}
      <li class=" page-item"><a class="page-link badge bg-primary rounded-pill" href="?page={{ page_obj.previous_page_number }}">previous &laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page"><span><a class="page-link" href="">{{ i }}</a></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link badge bg-primary rounded-pill" href="?page={{ page_obj.next_page_number }}"> next &raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>last &raquo; </span></li>
    {% endif %}
  </ul>
</nav>
</div>
{% endif %}
<!-- end of pagination -->
<script>
  function changeColor(){
    
  }
</script>
  </div>

      <script> 

          function saveAns(){  
      
              var ele = document.getElementsByTagName('input'); 
              for(i = 0; i < ele.length; i++) { 
                  if(ele[i].type="radio") { 
                      if(ele[i].checked){        
                        setCookie(ele[i].name,ele[i].value,3)
                      }
                  } 
              } 
                
          }
          
          function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
    </script>

<script>
    function disp(){
    alert('Your Quiz was Successfully Submitted')
    } 
</script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

</script>

<script>

</script>
</body>
</html>

 <script> 
    function saveAns(){  

        var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type="radio") { 
                if(ele[i].checked){        
                  setCookie(ele[i].name,ele[i].value,3)
                }
            } 
        } 
          
    }
    
    function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

</script> 

<br><br><br><br><br><br>
